<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white ">  <h3 *ngIf="!book.id;else update">Add Book</h3></div>
    <ng-template #update>
        <h3>Update Book</h3>
    </ng-template>
    <div class="card-body">
       
       

        <form (ngSubmit)="onSubmit()" #form="ngForm"> 
             <div class="form-group">
                            <label for="code">Code:</label>
                            <input type="text" class="form-control" id="code" name="code" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Nom:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="prix">Prix:</label>
                            <input type="number" class="form-control" id="prix" name="prix" step="0.01" required min="0.01">
                            <!-- Utilisation de min="0.01" pour éviter les valeurs négatives et zéro -->
                        </div>
                        <div class="form-group">
                            <label for="auteur">Auteur:</label>
                            <input type="text" class="form-control" id="auteur" name="auteur" required>
                        </div>
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
                        </div>
                        <!-- <div class="form-group">
                            <label for="categorieById">Catégorie:</label>
                            <select class="form-control" id="categorieById" name="categorieById" required>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Ajouter le Livre</button>
                    </form>
                </div>
            </div>
  

